    .modal-header {
        padding-bottom: 5px;
    }

    .modal-footer {
        padding: 20px;
    }

    .modal-footer .btn-group button {
        height:40px;
        border-top-left-radius : 0;
        border-top-right-radius : 0;
        border: none;
        border-right: 1px solid #ddd;
    }

    .modal-footer .btn-group:last-child > button {
        border-right: 0;
    }

    .datepicker {
        z-index:1151 !important;
    }

    .scheduler-tr {
        margin-left: 5px; 
        font-size: 120%
    }
    
    .error {   
        border-color: rgba(229, 103, 23, 0.8);
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
        outline: 0 none;
    }