<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <script>
        </script>
    </head>
    <body>
        <div class="col-md-12" >
            <div class="modal-dialog" style="margin-bottom:1; width: 25%">
                <div class="modal-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">Number of Users</h3>
                    </div>
                    <div class="panel-body">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <label for="service">Service</label>
                                    <select id="service">
                                        <option value="Atse Interactive">Atse Interactive</option>
                                        <option value="Signal Interactive">Signal Interactive</option>
                                    </select>
                                    <br>
                                    <br>
                                </td>
                                <td>
                                    <label for="date">Date</label>
                                    <input type="text" class="form-control datepicker" id="date" placeholder="yyyy/MM/dd" style="width: 80%"><br>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#" id="stats" class="btn btn-sm btn-success">Stats</a><br><br></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><label id="cnt" class="control-label"></label></td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!--<table id="table" 
               class="table table-condensed table-striped" 
               data-show-columns="true" style="width: 90%;" align="center">
            <thead>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="9">
                        <div class="input-group" style="width: 100%">
                            <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label">Index</label></td>
                    <td><label class="control-label">Phone</label></td>
                    <td><label class="control-label">Answer Count</label></td>
                    <td><label class="control-label">correct</label></td>
                    <td><label class="control-label">Wrong</label></td>
                    <td><label class="control-label">Register Date</label></td>
                    <td><label class="control-label">Register Time</label></td>
                    <td><label class="control-label">Un-Register Date</label></td>
                    <td><label class="control-label">Un-Register Time</label></td>
                </tr>
            </thead>
        </table>-->
    </body>
</html>
